.navbar {
  background-color: darkcyan;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .linksList {
    display: flex;
    gap: 15px;

    .listItem {
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;

      .link {
        color: #fff;
      }
    }
  }
}
